/*----------------------------------------------------------------------------
Global properties
----------------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@100;400;500;600;700&family=Roboto:wght@300;400&family=Ubuntu&display=swap');

body {
    background-image: url("../img/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*----------------------------------------------------------------------------
Header properties
----------------------------------------------------------------------------*/

header {
    display: flex;
    justify-content: flex-end;
    color: white;
    padding: 0 79px;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

}

header div {
    flex-grow: 1;
}

h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    width: max-content;
    margin: 18px 0;
}

.header-mini-border {
    display: block;
    width: 1px;
    height: 19px;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0 25px;
}

.header-icons {
    margin: 0 0 0 25px;
}

/*----------------------------------------------------------------------------
Main section properties
----------------------------------------------------------------------------*/

main {
    position: relative;
    width: 100vw;
    height: calc(100vh - 58px);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #ffffff;
    max-width: 444px;

}

.container::before {
    position: absolute;
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    top: 33px;
}

.auth-frame {
    margin: 31px 60px 38px 60px;
}

.auth-social-networks {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: space-between;
    align-items: flex-end;
}

.auth-social-networks > span:first-child {
    font-size: 20px;
    line-height: 20px;
    color: #434343;
    min-width: 60%;
}

.auth-social-networks a {
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    text-align: end;
}

.auth-network {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-start;
    border-radius: 3px;
    margin: 7px 0 0 0;
}

.fb {
    background-color: #305DB8;
}

.google {
    background-color: #DF4A32;
}

.auth-network img {
    align-items: center;
    width: max-content;
    margin: 0 0 0 15px;
}

.auth-network-name {
    color: white;
    font-size: 16px;
    text-align: center;
    flex-grow: 1;
}

.auth-network-line {
    width: 1px;
    height: 28px;
    background-color: #000000;
    mix-blend-mode: normal;
    opacity: 0.1;
    margin: 10px 0 10px 8px;
}

.auth-social-networks > span:last-child {
    position: relative;
    color: #848484;
    font-size: 14px;
    margin: 22px 0 12px 0;
    width: 100%;
    text-align: center;
    background-color: #ffffff;
}

.auth-social-networks > span:last-child::before,
.auth-social-networks > span:last-child::after {
    content: "";
    display: block;
    position: absolute;
    top: 0.65em;
    left: 0;
    background-color: #F2F2F2;
    width: 47%;
    height: 1px;
}

.auth-social-networks > span:last-child::before {
    left: 0;
}

.auth-social-networks > span:last-child::before {
    left: 53%;
}

.auth-form input {
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    padding: 15px 0 15px 20px;
    width: calc(100% - 22px);
    margin: 15px 0 0 0;
}

.auth-form > div {
    position: relative;
    margin: 15px 0 0 28px;
}

.auth-form a {
    color: #3CB878;
}

.auth-agreement input {
    display: none;
}

.auth-agreement:before {
    position: absolute;
    left: -28px;
    content: "";
    display: inline-block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
}

.auth-agreement svg {
    position: absolute;
    width: max-content;
    height: max-content;
    top: 2px;
    left: -26px;
    display: none;
}

.auth-form button {
    color: #ffffff;
    font-size: 16px;
    line-height: 16px;
    background: rgba(60, 184, 120, 0.8);
    width: 100%;
    margin: 20px 0 0 0;
    border: none;
    border-radius: 4px;
    padding: 15px 0;
}

/*----------------------------------------------------------------------------
Effects
----------------------------------------------------------------------------*/

header h1:hover,
header a:hover {
    color: #01813F;
    transition: color 300ms ease-in-out
}

header a:hover svg {
    fill: #01813F;
    transition: fill 300ms ease-in-out;
}

.underline:hover {
    color: #01813F;
    text-decoration: underline;
    transition: all 300ms ease-in-out;
}

.auth-form input:focus {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    transition: box-shadow 300ms ease-in-out;
}

.auth-agreement input:checked + svg {
    display: inline;
}

.auth-form button:hover {
    background-color: #01813F;
    transition: background-color 300ms ease-in-out;
}

.auth-agreement .underline:hover ~ svg path {
    stroke: #01813F;
    transition: stroke 300ms ease-in-out;
}

.fb:hover {
    background-color: #022263;
    transition: background-color 300ms ease-in-out;
}

.google:hover {
    background-color: #AB1F09;
    transition: background-color 300ms ease-in-out;
}
